*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

html{
    font-family: "Open Sans", sans-serif;
}








/*Navbar*/


#navbar{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;
}

#navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;

}

#navbar ul li a{
    padding: 0.5rem;
}


#navbar ul li a:hover{
    background-color: #336ea2;
    border-radius: 4px;
}






/*Home Section*/

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid gray;
}

#home img{
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}

#home .name h2 {
    margin-bottom: 0.75rem;
}

#home .name p{
    opacity: 0.6;
    font-style: italic;
}

#cities{
    color: #fff;
    padding: 1rem;
}

#cities .items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cities .items .item{
    width: 20%;
    text-align: center;
    padding: 0.5rem;
}

#cities .items .item:hover{
    color: #fff;
    opacity: 0.5;
}




/*Driveres*/

#drivers{
    color: #333;
    padding: 1rem;
}

.drivers{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.drivers .driver{
    display: flex;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}


.drivers .driver .driver-image{
    margin-right: 0.5rem;
    position: relative;
}

.drivers .driver-image img{
    border-radius: 0.5rem;
}

.drivers .driver .driver-image span{
    background-color: red;
    padding: 0.25rem;
    color: #fff;
    border-radius: 4px;
    position: absolute;
    top: 15px;
    left: 0;
}


.drivers .driver .driver-info .title{
    letter-spacing: 1.2px;
    font-weight: 700;
    margin-bottom: 0.25rem;
}

.drivers .driver .driver-info .description{
    letter-spacing: 1.2px;
    margin-bottom: 0.25rem;
    opacity: 0.9;
}


.drivers .driver .driver-info .rating{
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
    opacity: 0.9;
}


/*about*/

#about{
    color: #fff;
    padding: 1rem;
}




/*contact */

#contact{
    color: #fff;
    padding: 1rem;
}

#contact .contact-form{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;

}

#contact .contact-form ul{
    list-style: none;
    display: flex;
    margin-top: 1rem;
    align-self: center;

}

#contact .contact-form ul li a{
    padding: 1rem;
    font-size: 2rem;

}

#contact .contact-form ul li a:hover{
    padding: 1rem;
    font-size: 2rem;
    opacity: 0.7;
    
}